# 1. Domain Problem und Data Collection

In [511]:
import pandas as pd
import numpy as np

In [512]:
# Liest die Excel-Datei ein
df = pd.read_excel('wohnung_datensatz.xlsx')

df.head(10)

,Einheit,Haus,Wohnung,Wohngebiet,Geschoss,Wohnfläche,Raumanzahl,Dusche,Wanne,Aufzug,Balkon/Terasse,Einstufung Mietkosten,Geschlecht,Einzug,Wohndauer in Monaten,Altereinstufung,Personenanzahl,Haustier,Mahnverfahren
0,163,5,49,Innenstadt,Erdgeschoss,74.19,3,ja,nein,nein,ja,3,W,05/01/19,40.0,5,1,nein,nein
1,163,5,49,Innenstadt,Erdgeschoss,74.19,3,ja,nein,nein,ja,4,W,10/01/23,2.0,4,2,nein,nein
2,56,2,11,Innenstadt,Erdgeschoss,71.82,3,nein,ja,nein,ja,3,M,07/01/14,69.0,2,1,ja,nein
3,56,2,11,Innenstadt,Erdgeschoss,71.82,3,nein,ja,nein,ja,3,M,09/01/20,39.0,4,2,nein,nein
4,76,3,33,Innenstadt,1. Obergeschoss,53.06,2,nein,ja,nein,ja,2,M,04/01/17,80.0,3,1,nein,nein
5,174,1,18,Innenstadt,1. Obergeschoss,48.34,2,ja,nein,nein,nein,2,M,07/01/16,89.0,2,1,nein,nein
6,213,3,30,Innenstadt,2. Obergeschoss,53.06,2,nein,ja,nein,ja,2,M,07/01/00,281.0,4,2,nein,nein
7,7,2,9,Innenstadt,2. Obergeschoss,48.34,2,nein,ja,nein,nein,2,W,09/01/13,123.0,2,1,ja,ja
8,51,1,7,Innenstadt,2. Obergeschoss,51.24,2,nein,ja,nein,ja,2,W,01/01/05,203.0,4,2,nein,nein
9,51,1,7,Innenstadt,2. Obergeschoss,51.24,2,nein,ja,nein,ja,2,W,07/01/22,17.0,3,1,nein,nein

In [513]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8403 entries, 0 to 8402
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Einheit                8403 non-null   int64
 1   Haus                   8403 non-null   int64
 2   Wohnung                8403 non-null   int64
 3   Wohngebiet             8403 non-null   object
 4   Geschoss               8403 non-null   object
 5   Wohnfläche             8403 non-null   float64
 6   Raumanzahl             8403 non-null   int64
 7   Dusche                 8403 non-null   object
 8   Wanne                  8403 non-null   object
 9   Aufzug                 8403 non-null   object
 10  Balkon/Terasse         8403 non-null   object
 11  Einstufung Mietkosten  8403 non-null   object
 12  Geschlecht             8403 non-null   object
 13  Einzug                 8403 non-null   object
 14  Wohndauer in Monaten   8359 non-null   float64
 15  Altereinstufung        8403 non-null   object
 16  Personenanzahl         8403 non-null   int64
 17  Haustier               8403 non-null   object
 18  Mahnverfahren          8403 non-null   object
dtypes: float64(2), int64(5), object(12)
memory usage: 1.2+ MB

In [514]:
df.describe()

,Einheit,Haus,Wohnung,Wohnfläche,Raumanzahl,Wohndauer in Monaten,Personenanzahl
count,8403.000000,8403.000000,8403.000000,8403.000000,8403.000000,8359.000000,8403.000000
mean,117.621088,2.685826,28.148399,57.886800,2.626681,175.574949,1.555873
std,58.574120,1.689494,27.635865,12.192696,0.719363,194.360779,0.843681
min,1.000000,1.000000,1.000000,28.380000,1.000000,-4.000000,1.000000
25%,79.000000,1.000000,10.000000,49.680000,2.000000,36.000000,1.000000
50%,117.000000,2.000000,21.000000,58.940000,3.000000,101.000000,1.000000
75%,150.000000,4.000000,35.000000,61.130000,3.000000,235.000000,2.000000
max,353.000000,11.000000,162.000000,165.480000,8.000000,813.000000,12.000000

# 2.1 Feature Engineering -Data cleaning and pre-processing

Eine Bereinigung wäre notwendig, weil es in der Spalte Wohndauer in Monaten sowohl 0 als auch negativen Werten besteht.

In [515]:
summe_von_NA_wohndauer = df['Wohndauer in Monaten'].isna().sum()

print(summe_von_NA_wohndauer)

44

In [516]:
negative_zeilen_von_wohndauer = df['Wohndauer in Monaten'] < 0

print("Summe von Zeilen mit den negativen Werten in der Wohndauer in Monaten:")
print(negative_zeilen_von_wohndauer.sum())

Summe von Zeilen mit den negativen Werten in der Wohndauer in Monaten:
103

In [517]:
df.loc[negative_zeilen_von_wohndauer, 'Wohndauer in Monaten'] = np.nan
print(df['Wohndauer in Monaten'].isna().sum())

147

In [518]:
summe_von_N_zeilen = (df[['Einstufung Mietkosten', 'Altereinstufung']] == '\\N').sum()
print(summe_von_N_zeilen)

Einstufung Mietkosten     25
Altereinstufung          196
dtype: int64

In [519]:
df.replace('\\N', np.nan, inplace=True)

C:\Users\Yama Saputra\AppData\Local\Temp\ipykernel_13084\2896708572.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('\\N', np.nan, inplace=True)

In [520]:
df.isnull().sum()

Einheit                    0
Haus                       0
Wohnung                    0
Wohngebiet                 0
Geschoss                   0
Wohnfläche                 0
Raumanzahl                 0
Dusche                     0
Wanne                      0
Aufzug                     0
Balkon/Terasse             0
Einstufung Mietkosten     25
Geschlecht                 0
Einzug                     0
Wohndauer in Monaten     147
Altereinstufung          196
Personenanzahl             0
Haustier                   0
Mahnverfahren              0
dtype: int64

In [521]:
df_bereinigt = df.dropna(subset=['Altereinstufung', 'Einstufung Mietkosten'])

df_bereinigt.isnull().sum()

Einheit                    0
Haus                       0
Wohnung                    0
Wohngebiet                 0
Geschoss                   0
Wohnfläche                 0
Raumanzahl                 0
Dusche                     0
Wanne                      0
Aufzug                     0
Balkon/Terasse             0
Einstufung Mietkosten      0
Geschlecht                 0
Einzug                     0
Wohndauer in Monaten     145
Altereinstufung            0
Personenanzahl             0
Haustier                   0
Mahnverfahren              0
dtype: int64

In [522]:
wohndauer_in_monaten_NA = df_bereinigt['Wohndauer in Monaten'].isna().sum()
print(wohndauer_in_monaten_NA)

145

- Diese Zeilen werden später zum Testdaten hinzugefügt.

In [523]:
df_bereinigt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8182 entries, 0 to 8402
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Einheit                8182 non-null   int64
 1   Haus                   8182 non-null   int64
 2   Wohnung                8182 non-null   int64
 3   Wohngebiet             8182 non-null   object
 4   Geschoss               8182 non-null   object
 5   Wohnfläche             8182 non-null   float64
 6   Raumanzahl             8182 non-null   int64
 7   Dusche                 8182 non-null   object
 8   Wanne                  8182 non-null   object
 9   Aufzug                 8182 non-null   object
 10  Balkon/Terasse         8182 non-null   object
 11  Einstufung Mietkosten  8182 non-null   float64
 12  Geschlecht             8182 non-null   object
 13  Einzug                 8182 non-null   object
 14  Wohndauer in Monaten   8037 non-null   float64
 15  Altereinstufung        8182 non-null   float64
 16  Personenanzahl         8182 non-null   int64
 17  Haustier               8182 non-null   object
 18  Mahnverfahren          8182 non-null   object
dtypes: float64(4), int64(5), object(10)
memory usage: 1.2+ MB

# Feature Selection 30 %

- Altereinstufung
- Einstufung Mietkosten
- Personenanzahl
- Wohngebiet
- Wohnfläche
- Raumanzahl
- Einzug
- Haustier
- Geschoss
- Wohnfläche
- Raumanzahl
- Aufzug
- Balkon/terasse
- Geschlecht
- Mahnverfahren

sind die Hauptvariablen.

- Wohndauer in Monaten 

ist die Zielvariable.

In [524]:
df_bereinigt.loc[:, 'Einzug'] = pd.to_datetime(df_bereinigt['Einzug'], format='%d/%m/%y')
df_bereinigt.loc[:, 'Einzug'] = df_bereinigt['Einzug'].dt.year * 12 + df_bereinigt['Einzug'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
# Features und Zielvariable definieren
features = [
    'Wohngebiet', 'Geschoss', 'Wohnfläche', 'Raumanzahl', 'Dusche', 'Wanne', 
    'Aufzug', 'Balkon/Terasse', 'Einstufung Mietkosten', 'Geschlecht', 
    'Einzug', 'Altereinstufung', 'Personenanzahl', 'Haustier', 'Mahnverfahren'
]
ziel = 'Wohndauer in Monaten'