In [10]:
import pandas as pd
import numpy as np

In [11]:
# Read the Excel file
df = pd.read_excel('wohnung_datensatz.xlsx')

df.head(10)

,Einheit,Haus,Wohnung,Wohngebiet,Geschoss,Wohnfläche,Raumanzahl,Dusche,Wanne,Aufzug,Balkon/Terasse,Einstufung Mietkosten,Geschlecht,Einzug,Wohndauer in Monaten,Altereinstufung,Personenanzahl,Haustier,Mahnverfahren
0,163,5,49,Innenstadt,Erdgeschoss,74.19,3,ja,nein,nein,ja,3,W,05/01/19,40.0,5,1,nein,nein
1,163,5,49,Innenstadt,Erdgeschoss,74.19,3,ja,nein,nein,ja,4,W,10/01/23,2.0,4,2,nein,nein
2,56,2,11,Innenstadt,Erdgeschoss,71.82,3,nein,ja,nein,ja,3,M,07/01/14,69.0,2,1,ja,nein
3,56,2,11,Innenstadt,Erdgeschoss,71.82,3,nein,ja,nein,ja,3,M,09/01/20,39.0,4,2,nein,nein
4,76,3,33,Innenstadt,1. Obergeschoss,53.06,2,nein,ja,nein,ja,2,M,04/01/17,80.0,3,1,nein,nein
5,174,1,18,Innenstadt,1. Obergeschoss,48.34,2,ja,nein,nein,nein,2,M,07/01/16,89.0,2,1,nein,nein
6,213,3,30,Innenstadt,2. Obergeschoss,53.06,2,nein,ja,nein,ja,2,M,07/01/00,281.0,4,2,nein,nein
7,7,2,9,Innenstadt,2. Obergeschoss,48.34,2,nein,ja,nein,nein,2,W,09/01/13,123.0,2,1,ja,ja
8,51,1,7,Innenstadt,2. Obergeschoss,51.24,2,nein,ja,nein,ja,2,W,01/01/05,203.0,4,2,nein,nein
9,51,1,7,Innenstadt,2. Obergeschoss,51.24,2,nein,ja,nein,ja,2,W,07/01/22,17.0,3,1,nein,nein

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8403 entries, 0 to 8402
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Einheit                8403 non-null   int64
 1   Haus                   8403 non-null   int64
 2   Wohnung                8403 non-null   int64
 3   Wohngebiet             8403 non-null   object
 4   Geschoss               8403 non-null   object
 5   Wohnfläche             8403 non-null   float64
 6   Raumanzahl             8403 non-null   int64
 7   Dusche                 8403 non-null   object
 8   Wanne                  8403 non-null   object
 9   Aufzug                 8403 non-null   object
 10  Balkon/Terasse         8403 non-null   object
 11  Einstufung Mietkosten  8403 non-null   object
 12  Geschlecht             8403 non-null   object
 13  Einzug                 8403 non-null   object
 14  Wohndauer in Monaten   8359 non-null   float64
 15  Altereinstufung        8403 non-null   object
 16  Personenanzahl         8403 non-null   int64
 17  Haustier               8403 non-null   object
 18  Mahnverfahren          8403 non-null   object
dtypes: float64(2), int64(5), object(12)
memory usage: 1.2+ MB

In [13]:
df.describe()

,Einheit,Haus,Wohnung,Wohnfläche,Raumanzahl,Wohndauer in Monaten,Personenanzahl
count,8403.000000,8403.000000,8403.000000,8403.000000,8403.000000,8359.000000,8403.000000
mean,117.621088,2.685826,28.148399,57.886800,2.626681,175.574949,1.555873
std,58.574120,1.689494,27.635865,12.192696,0.719363,194.360779,0.843681
min,1.000000,1.000000,1.000000,28.380000,1.000000,-4.000000,1.000000
25%,79.000000,1.000000,10.000000,49.680000,2.000000,36.000000,1.000000
50%,117.000000,2.000000,21.000000,58.940000,3.000000,101.000000,1.000000
75%,150.000000,4.000000,35.000000,61.130000,3.000000,235.000000,2.000000
max,353.000000,11.000000,162.000000,165.480000,8.000000,813.000000,12.000000

In [14]:
sum_of_N_per_column = (df == '\\N').sum()
print(sum_of_N_per_column)

Einheit                    0
Haus                       0
Wohnung                    0
Wohngebiet                 0
Geschoss                   0
Wohnfläche                 0
Raumanzahl                 0
Dusche                     0
Wanne                      0
Aufzug                     0
Balkon/Terasse             0
Einstufung Mietkosten     25
Geschlecht                 0
Einzug                     0
Wohndauer in Monaten       0
Altereinstufung          196
Personenanzahl             0
Haustier                   0
Mahnverfahren              0
dtype: int64

In [15]:
df[df == '\\N'] = np.nan
sum_of_N_per_column = (df == '\\N').sum()
print(sum_of_N_per_column)

Einheit                  0
Haus                     0
Wohnung                  0
Wohngebiet               0
Geschoss                 0
Wohnfläche               0
Raumanzahl               0
Dusche                   0
Wanne                    0
Aufzug                   0
Balkon/Terasse           0
Einstufung Mietkosten    0
Geschlecht               0
Einzug                   0
Wohndauer in Monaten     0
Altereinstufung          0
Personenanzahl           0
Haustier                 0
Mahnverfahren            0
dtype: int64

In [16]:
df.isnull().sum()

Einheit                    0
Haus                       0
Wohnung                    0
Wohngebiet                 0
Geschoss                   0
Wohnfläche                 0
Raumanzahl                 0
Dusche                     0
Wanne                      0
Aufzug                     0
Balkon/Terasse             0
Einstufung Mietkosten     25
Geschlecht                 0
Einzug                     0
Wohndauer in Monaten      44
Altereinstufung          196
Personenanzahl             0
Haustier                   0
Mahnverfahren              0
dtype: int64

Eine Bereinigung wäre notwendig, weil es in der Spalte Wohndauer in Monaten sowohl 0 als auch negativen Werten besteht.

In [17]:
median = df['Wohndauer in Monaten'].median()
df['Wohndauer in Monaten'].fillna(median, inplace=True)
df['Wohndauer in Monaten'].replace(0, median, inplace=True)
df.isnull().sum()

C:\Users\Yama Saputra\AppData\Local\Temp\ipykernel_16916\2736362456.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wohndauer in Monaten'].fillna(median, inplace=True)
C:\Users\Yama Saputra\AppData\Local\Temp\ipykernel_16916\2736362456.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wohndauer in Monaten'].replace(0, median, inplace=True)

Einheit                    0
Haus                       0
Wohnung                    0
Wohngebiet                 0
Geschoss                   0
Wohnfläche                 0
Raumanzahl                 0
Dusche                     0
Wanne                      0
Aufzug                     0
Balkon/Terasse             0
Einstufung Mietkosten     25
Geschlecht                 0
Einzug                     0
Wohndauer in Monaten       0
Altereinstufung          196
Personenanzahl             0
Haustier                   0
Mahnverfahren              0
dtype: int64

In [18]:
df.dropna(subset=['Altereinstufung'], inplace=True)
df.dropna(subset=['Einstufung Mietkosten'], inplace=True)
df.isnull().sum()

Einheit                  0
Haus                     0
Wohnung                  0
Wohngebiet               0
Geschoss                 0
Wohnfläche               0
Raumanzahl               0
Dusche                   0
Wanne                    0
Aufzug                   0
Balkon/Terasse           0
Einstufung Mietkosten    0
Geschlecht               0
Einzug                   0
Wohndauer in Monaten     0
Altereinstufung          0
Personenanzahl           0
Haustier                 0
Mahnverfahren            0
dtype: int64

In [19]:
median = df['Wohndauer in Monaten'].median()
df['Wohndauer in Monaten'] = df['Wohndauer in Monaten'].apply(lambda x: median if x < 0 else x)
df.describe()

,Einheit,Haus,Wohnung,Wohnfläche,Raumanzahl,Wohndauer in Monaten,Personenanzahl
count,8182.000000,8182.000000,8182.000000,8182.000000,8182.000000,8182.000000,8182.000000
mean,117.388169,2.683574,28.099609,57.930071,2.627108,175.499878,1.563187
std,58.266660,1.686525,27.600300,12.269202,0.722227,191.357849,0.850579
min,1.000000,1.000000,1.000000,28.380000,1.000000,1.000000,1.000000
25%,79.000000,1.000000,10.000000,49.680000,2.000000,40.000000,1.000000
50%,117.000000,2.000000,21.000000,58.940000,3.000000,101.000000,1.000000
75%,150.000000,4.000000,35.000000,61.130000,3.000000,230.000000,2.000000
max,353.000000,11.000000,162.000000,165.480000,8.000000,813.000000,12.000000

Der Median ist ein robustes Maß, das im Gegensatz zum Mittelwert nicht von Ausreißern oder schiefen Daten beeinflusst wird. Daher kann er für solche Daten ein besseres Maß für die zentrale Tendenz darstellen.

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score


features = ['Einheit', 'Haus', 'Wohnung', 'Wohngebiet', 'Geschoss', 'Wohnfläche', 'Raumanzahl', 'Dusche', 'Wanne', 'Aufzug', 'Balkon/Terasse', 'Geschlecht', 'Einzug', 'Wohndauer in Monaten', 'Altereinstufung', 'Personenanzahl', 'Haustier', 'Mahnverfahren']
target = 'Einstufung Mietkosten'

X = df[features]
y = df[target]

# Define preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['Wohnfläche', 'Raumanzahl', 'Wohndauer in Monaten']),
        ('cat', OneHotEncoder(), ['Wohngebiet', 'Geschlecht', 'Dusche', 'Wanne', 'Aufzug', 'Balkon/Terasse', 'Haustier'])
    ])

# Define model pipeline
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor())
])


# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'R^2: {r2_score(y_test, y_pred)}')

MAE: 0.07644853390348195
MSE: 0.04245575487668596
R^2: 0.8124332458625412

Einstufung der Mietkostenprognose Punkten

In [30]:
value_per_sqm = {
    'Nord': 2409,
    'Innenstadt': 2600,
    'Thüringer Straße': 2433,
    'Hohenstücken': 1568
}

# Calculate PropertyValue
df['PropertyValue'] = df['Wohnfläche'] * df['Wohngebiet'].map(value_per_sqm) + np.random.normal(0, 10000, len(df))

print(df[['Wohnfläche', 'Wohngebiet', 'PropertyValue']].head())
print(df[['Wohnfläche', 'Wohngebiet', 'PropertyValue']].tail())

   Wohnfläche  Wohngebiet  PropertyValue
0       74.19  Innenstadt  206854.275502
1       74.19  Innenstadt  202335.600582
2       71.82  Innenstadt  202775.474338
3       71.82  Innenstadt  197837.803175
4       53.06  Innenstadt  136965.518141
      Wohnfläche      Wohngebiet  PropertyValue
8398       77.84  Hohenstücken              NaN
8399       61.31  Hohenstücken              NaN
8400       77.94  Hohenstücken              NaN
8401       61.28  Hohenstücken              NaN
8402       77.80  Hohenstücken              NaN

In [26]:
# Assume property value is influenced by Wohnfläche (living area), Wohngebiet (residential area), and some noise
np.random.seed(42)
df['PropertyValue'] = (
    df['Wohnfläche'] * 1000 +  # Larger area -> higher value
    np.where(df['Wohngebiet'] == 'Innenstadt', 50000, 20000) +  # Innenstadt (city center) -> higher value
    np.random.normal(0, 10000, len(df))  # Adding some noise
)

# Display the first few rows to verify
print(df[['Wohnfläche', 'Wohngebiet', 'PropertyValue']].head())

   Wohnfläche  Wohngebiet  PropertyValue
0       74.19  Innenstadt  129157.141530
1       74.19  Innenstadt  122807.356988
2       71.82  Innenstadt  128296.885381
3       71.82  Innenstadt  137050.298564
4       53.06  Innenstadt  100718.466253

In [33]:
# Define features and target
features = ['Einheit', 'Haus', 'Wohnung', 'Wohngebiet', 'Geschoss', 'Wohnfläche', 'Raumanzahl', 'Dusche', 'Wanne', 'Aufzug', 'Balkon/Terasse', 'Geschlecht', 'Einzug', 'Wohndauer in Monaten', 'Altereinstufung', 'Personenanzahl', 'Haustier', 'Mahnverfahren']
target = 'Churn'  # Assuming this column is added to the dataset

X = df[features]
y = df[target]

# Define preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['Wohnfläche', 'Raumanzahl', 'Wohndauer in Monaten']),
        ('cat', OneHotEncoder(), ['Wohngebiet', 'Geschlecht', 'Dusche', 'Wanne', 'Aufzug', 'Balkon/Terasse', 'Haustier'])
    ])

# Define model pipeline
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier())
])

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)
print(f'Accuracy: {accuracy_score(y_test, y_pred)}')
print(f'Precision: {precision_score(y_test, y_pred)}')
print(f'Recall: {recall_score(y_test, y_pred)}')
print(f'F1 Score: {f1_score(y_test, y_pred)}')
print(f'ROC AUC: {roc_auc_score(y_test, y_pred)}')

KeyError: 'Churn'

In [25]:

# Define features and target
features = ['Einheit', 'Haus', 'Wohnung', 'Wohngebiet', 'Geschoss', 'Wohnfläche', 'Raumanzahl', 'Dusche', 'Wanne', 'Aufzug', 'Balkon/Terasse', 'Geschlecht', 'Einzug', 'Wohndauer in Monaten', 'Altereinstufung', 'Personenanzahl', 'Haustier', 'Mahnverfahren']
target = 'PropertyValue'  # Assuming this column is added to the dataset

X = df[features]
y = df[target]

# Define preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['Wohnfläche', 'Raumanzahl', 'Wohndauer in Monaten']),
        ('cat', OneHotEncoder(), ['Wohngebiet', 'Geschlecht', 'Dusche', 'Wanne', 'Aufzug', 'Balkon/Terasse', 'Haustier'])
    ])

# Define model pipeline
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor())
])

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'R^2: {r2_score(y_test, y_pred)}')

KeyError: 'PropertyValue'